* {
    font-family: 'Roboto', sans-serif;
}

header {
    background: linear-gradient(to right, #08272e, #4d9fb5, #08272e);
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
  }
  
  #cityblock {
    border: solid;
    border-width: thin;
    border-color: rgb(219, 219, 219);
    border-radius: 5px;
    margin: 15px;
    line-height: 250%;
  }
  
  .uvBtn h3 {
    text-align: center;
  }
  
  .card {
    margin-left: 15px;
    color: white;
  }
  
  h5 {
    font-weight: bold;
  }
  
  article .row {
    height: 350px;
  }
  
  .card {
    display: inline-block;
  }
  
  p {
    line-height: 50%;
  }

  #searchBar {
    display: flex;
    flex-direction: column;
  }

  #searchBox {
    width: 100%;
  }

  #button-addon2 {
    width: 100%;
    height: 30px;
    margin: 10px 0px;
  }