* {
    font-family: 'Roboto', sans-serif;
}

header {
    background: linear-gradient(to right, #232367, #0323f8, #232367);
    color: red;
    text-align: center;
    background-color: rgb(16, 22, 71);
    padding: 10px;
  }
  
  h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
  }
  
  #cityblock {
    border: solid;
    border-width: thin;
    border-color: rgb(219, 219, 219);
    border-radius: 5px;
    margin: 15px;
    line-height: 250%;
  }
  
  .uvBtn h3 {
    text-align: center;
  }
  
  .card {
    margin-left: 15px;
    color: white;
  }
  
  h5 {
    font-weight: bold;
  }
  
  article .row {
    height: 350px;
  }
  
  .card {
    display: inline-block;
  }
  
  p {
    line-height: 50%;
  }